[submodule "error-processor"]
	path = error-processor
	url = git@code.vt.edu:hsiao-nlp-research/error-processor.git
[submodule "cas2text"]
	path = cas2text
	url = git@code.vt.edu:hsiao-nlp-research/cas2text
[submodule "datasheet-text-processor"]
	path = datasheet-text-processor
	url = git@code.vt.edu:hsiao-nlp-research/datasheet-text-processor
