[submodule "datasheet-text-processor"]
	path = datasheet-text-processor
	url = git@github.com:studeo14/dtp.git
[submodule "cas2text"]
	path = cas2text
	url = git@github.com:studeo14/c2t.git
[submodule "error-processor"]
	path = error-processor
	url = git@github.com:studeo14/ep.git
